<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>HSCTF - The First CTF By High Schoolers For High Schoolers. </title>
	<meta name="description" content="HSCTF: the first CTF by high schoolers for high schoolers" />
	<meta name="keywords" content="ctf, computer science, hacking, high school, programming, algorithm, cryptography">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="navbar navbar-fixed-top" data-activeslide="1">
		<div class="container">

			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>


			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav row">
					<li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
					<li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">ABOUT</span></a></li>
					<li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">SPONSORS</span></a></li>
					<li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="icon icon-question"></span> <span class="text">FAQ</span></a></li>
					<li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-flag"></span> <span class="text">PRACTICE</span></a></li>
					<li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
				</ul>
				<div class="row">
					<div class="col-sm-2 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->


	<!-- === Arrows === -->
	<div id="arrows">
		<div id="arrow-up" class="disabled"></div>
		<div id="arrow-down"></div>
		<!-- <div id="arrow-left" class="disabled visible-lg"></div>
		<div id="arrow-right" class="disabled visible-lg"></div> -->
	</div><!-- /.arrows -->


	<!-- === MAIN Title Page === -->
	<div class="slide story" id="slide-1" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<h4 class="font-thin">The second HSCTF is coming  — <span class="font-semibold">May 17-24, 2015</span></h4>
			</div>
			<img src="images/wires-mobile.png" class="img-responsive" alt="HSCTF">
		</div><!-- /container -->
	</div><!-- /slide1 -->

	<!-- === Slide 2 Synopsis === -->
	<div class="slide story" id="slide-2" data-slide="2">
		<div class="container">
			<div class="row subtitle-row with-hover-text">
				<div class = "col-12">
					<a href="http://compete.hsctf.com/scoreboard">
						<div class="font-semibold" id="notice">Final Scoreboard</div>
					</a>
				</div>
				<div class = "col-12">
					<a href="http://compete.hsctf.com/book/">
						<div class="font-semibold" id="notice">Write-Ups</div>
					</a>
				</div>
			</div>
			<div class="row title-row">
				<div class="col-12 font-thin">Congratulations to all 2000+ participants, and to team Raelly for winning HSCTF!</span></div>
			</div><!-- /row -->
			<div class="row title-row">
				<div class="col-12 font-thin"><span class="font-semibold">HSCTF</span> is a national online hacking competition designed to educate high schoolers in <span class="font-semibold">computer science.</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-12 font-thin">Teams of up to 4 students will be challenged to.... </div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-unlock"></i></p>
					<h2 class="font-thin">Crack <span class="font-semibold">Codes</span></h2>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-wrench"></i></p>
					<h2 class="font-thin">Reverse <span class="font-semibold">Engineer</span></h2>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-pencil"></i></p>
					<h2 class="font-thin">Design <span class="font-semibold">Algorithms</span></h2>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-laptop"></i></p>
					<h2 class="font-thin">Master The <span class="font-semibold">Internet</span></h2>
				</div><!-- /col12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide2 -->

	<!-- === SLide 3 - Sponsors -->
	<div class="slide story" id="slide-3" data-slide="3">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin"><span class="font-semibold">Sponsors</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row content-row with-hover-text">
				<div class="col-12 col-sm-4">
					<a target="_blank" href="http://facebook.com"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Facebook.svg/1000px-Facebook.svg.png"></a>
				</div>
				<div class="col-12 col-sm-4">
					<a target="_blank" href="http://www.trailofbits.com/"><img src="images/TOB_Grey.jpg"></a>
				</div>
				<div class="col-12 col-sm-4">
					<a target="_blank" href="http://educoin.cc/"><img src="images/educoin.gif"></a>
				</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div id="prizes" class="row content-row with-hover-text font-light">
					<h1 class="font-semibold">Prizes</h1>
					<div class="row line-row">
						<div class="hr">&nbsp;</div>
					</div><!-- /row -->
					<h2 class="font-thin"><span class="font-semibold">First Place:</span> $450, four <a href="https://getpebble.com/">Pebbles</a>, 4.3 million <a href="http://educoin.cc/">EduCoins</a>, and Facebook Swag.</h2>
					<h2 class="font-thin"><span class="font-semibold">Second Place:</span> $300, 3 million EduCoins, and Facebook Swag.</h2>
					<h2 class="font-thin"><span class="font-semibold">Third Place:</span> $200, 2 million EduCoins, and Facebook Swag.</h2>
					<h2 class="font-thin"><span class="font-semibold">Fourth through Tenth Place:</span> 100,000 EduCoins and Facebook Swag.</h2>
				</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide3 -->

	<!-- === Slide 4 - FAQ === -->
	<div class="slide story" id="slide-4" data-slide="4">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin"><span class="font-semibold">FAQ</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row content-row with-hover-text" id="faq">
				<h2>What is a CTF?</h2>
				<p>CTF stands for "Capture the Flag". CTFs are a type of computer security competition (but HSCTF extends beyond computer security to include other areas of computer science). Certain pieces of information, called "flags", are placed on servers, encrypted, hidden, or otherwise stored somewhere difficult to access. During the competition, different challenges are released which allow the participants to reverse engineer, break, hack, decrypt, and do whatever it takes to capture that flag. When a team submits this flag to a scoring page, they will get points.</p>
				<h2>What is HSCTF?</h2>
				<p>HSCTF ("High School Capture the Flag") is the first CTF designed by high schoolers for high schoolers.</p>
				<p>Unlike other CTFs, HSCTF isn't purely about computer security. It extends the CTF model of competition to other areas of computer science such as the design and analysis of algorithms and programming languages. Each challenge will still have a flag, and most of our challenges will fall into the traditional CTF categories of cryptography, reverse engineering, programming languages, forensics, and recon.</p>
				<p>Capture the Flag (CTF) competitions are traditionally targeted at college students or industry professionals. HSCTF is a CTF designed for younger students who might be interested in computer science. </p>
				<p>Our primary goals are to educate students in computer science, and to increase their interest in computer science.</p>
				<h2>Who can compete?</h2>
				<p>The competition is open to middle school and high school (6th to 12th grade) students from the United States. Teams can be composed of 4 or fewer students.</p>
				<p>There will be a non-competitive division for all participating teams who are disqualified by the above rules.</p>
				<h2>Why?</h2>
				<p>We love computer science and CTFs. Competing in CTFs is one of our favorite things to do; unfortunately, there aren't many CTFs out there for high schoolers. We found that we learned a lot about computer security very quickly by particating in CTFs. HSCTF will teach participants about other areas of computer science as well. HSCTF is meant to follow up on the success of <a href="https://picoctf.com">picoCTF</a>.</p>
				<h2>Where?</h2>
				<p>HSCTF will take place entirely online at this website. Once the competition starts, teams will be able to log in and view the challenges using the team name and password provided at registration, which will begin a few weeks before the competition. Participants may find it useful to have the ability to install software and have unfiltered internet access.</p>
				<h2>When?</h2>
				<p>May 18th 10:00AM EST to May 25th 11:59PM EST (exact times are tentative).</p>
				<h2>Will it be difficult?</h2>
				<p>Challenges will vary widely in difficulty. We expect some challenges to be solved by every team, and others to be solved by only a few teams or even none. Teams should be potentially capable of performing very well in this competition with no CTF experience. We hope HSCTF will be a fun, educational experience for all competitors.</p>
				<h2>What resources do I need to compete?</h2>
				<p>Full participation in the competition requires only a computer with a modern web browser (Firefox, Chrome, Opera, Safari, Internet Explorer 9+, etc.) and the ability to install applications.</p>
				<h2>How is it scored?</h2>
				<p>There will be several dozen challenges, each worth a fixed number of points based on its difficulty. When you solve a problem, you send your answer (or 'key', or 'flag') to a scoring server, which adds the problem's value to your team's score. At the end of the competition the team(s) with the highest scores are the winners. Time will be used as a tiebreaker. </p>
				<h2>What prizes will winning teams receive?</h2>
				<p>First Place: $450, four <a href="https://getpebble.com/">Pebbles</a>, 4.3 million <a href="http://educoin.cc/">EduCoins</a>, and Facebook Swag.</p>
				<p>Second Place: $300, 3 million EduCoins, and Facebook Swag.</p>
				<p>Third Place: $200, 2 million EduCoins, and Facebook Swag.</p>
				<p>Fourth through Tenth Place: 100,000 EduCoins and Facebook Swag.</p>
				<h2>What constitutes cheating?</h2>
				<p>Partipants in HSCTF must abide by a few common sense rules that ensure the competition is fair. These rules are copied from picoCTF's FAQ:  Attacking the scoring server, other teams, or machines not explicitly designated as targets is cheating. This includes both breaking into such machines and denying others access to them (for example, by altering a key or ping-flooding). Sharing keys or providing overly-revealing hints with other teams is cheating, as is being directly assisted by personnel outside the team (using tools from the internet is OK; asking people on the internet to help you solve the problem is not). We encourage you to solve problems in novel and creative ways using all available resources, but we do require that you solve them yourselves.
				</p>
				<h2>Who is running HSCTF?</h2>
				<p>HSCTF is organized by students at West Windsor-Plainsboro High School North in New Jersey as part of its computer science club. The founding team consists of Jacob Edelman (10th grade), Alok Tripathy (11th grade), Ben Edelman (12th grade), Aaron Weiss (12th grade), Ernest Chiu (12th grade), and Aaron Berger (12th grade).</p>
				<h2>Are there any related competitions?</h2>
				<p>Yes! <a href="https://picoctf.com">picoCTF</a>, run by Carnegie Mellon University, and the qualification round of <a href="https://ctf.isis.poly.edu/">CSAW CTF</a>, run by the New York University Polytechnic School of Engineering. We had a great time participating in both competitions. CSAW CTF is designed for undergraduate students, not high schoolers, but there is a high school division and the challenges are introductory.</p>
				<p><a href="http://usaco.org">USACO</a> is a competition that includes algorithm problems.</p>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide4 -->

	<!-- === Slide 5 Practice=== -->
	<div class="slide story" id="slide-5" data-slide="5">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">
					<span class="font-semibold">Practice</span>
				</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row content-row with-hover-text">
				<h4>You can start by <a href="https://picoctf.com/registration">creating an account at picoCTF</a>. Try figuring out the 2013 picoCTF challenges; our challenges will be similar.</h4>
                <h4>We will also include algorithmic problems. Check out <a href="http://codeforces.com/problemset">problems from Codeforces</a> for practice.</h4>
            </div>
			<div class="row content-row">
				<h1 class="font-light">Sample Challenges</h1>
				<h2 class="font-thin">Find the hidden flag for each challenge!</h2>
				<div class="col-12 col-sm-3">
					<h2 class="font-thin">Cryptography</h2>
					<p class="mono">65 63 7a 76 6a 63 62 75 20 63 7a 20 71 6a 67 69 6d 77 7a 76 20 6c 6a 6d 20 65 63 70 74 2e 20 71 71 63 20 76 66 67 61 71 20 66 71 66 20 6f 20 73 64 67 66 20 72 71 70 2c 20 65 78 66 65 6d 20 76 76 75 68 20 75 71 6c 67 20 6b 6d 68 20 66 71 62 20 67 6f 65 6e 20 6c 71 20 6a 74 73 6d 7a 2e 20 61 20 63 75 20 6b 61 62 67 77 75 61 67 72 20 66 77 73 76 20 67 71 69 20 69 74 6a 67 20 69 64 7a 71 20 69 67 20 75 77 6e 6a 71 20 69 7a 6b 61 20 63 62 70 20 6e 67 77 20 6c 67 67 71 67 6e 67 20 62 6a 73 20 64 74 6f 63 7a 66 2c 20 6b 74 78 75 6a 20 71 75 20 68 74 74 20 73 70 61 79 73 64 20 69 67 20 76 70 67 20 64 64 64 74 6e 6d 6f 2e 20 68 74 74 20 63 67 67 20 6b 67 20 75 72 73 70 6a 74 33 6f 77 72 30 76 33 75 2e
					</p>
				</div>
				<div class="col-12 col-sm-5">
					<h2 class="font-thin">Reverse Engineering</h2>
<pre>
<span style='color:#800000; font-weight:bold; '>import</span><span style='color:#004a43; '> java</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>util</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>Scanner</span><span style='color:#800080; '>;</span>

<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>class</span> SuperSecure <span style='color:#800080; '>{</span>
  <span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>static</span> <span style='color:#bb7977; '>void</span> main<span style='color:#808030; '>(</span><span style='color:#bb7977; font-weight:bold; '>String</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> args<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    Scanner in <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> Scanner<span style='color:#808030; '>(</span><span style='color:#bb7977; font-weight:bold; '>System</span><span style='color:#808030; '>.</span>in<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#bb7977; font-weight:bold; '>String</span> input <span style='color:#808030; '>=</span> in<span style='color:#808030; '>.</span>next<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>if</span><span style='color:#808030; '>(</span>input<span style='color:#808030; '>.</span>length<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> <span style='color:#008c00; '>10</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
      <span style='color:#bb7977; font-weight:bold; '>System</span><span style='color:#808030; '>.</span>out<span style='color:#808030; '>.</span>println<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"LOL no"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
      <span style='color:#bb7977; font-weight:bold; '>System</span><span style='color:#808030; '>.</span>exit<span style='color:#808030; '>(</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span>
    <span style='color:#bb7977; font-weight:bold; '>String</span> changed <span style='color:#808030; '>=</span> change<span style='color:#808030; '>(</span>input<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>if</span><span style='color:#808030; '>(</span>changed<span style='color:#808030; '>.</span>equals<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"fvbl}bf334"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
      <span style='color:#bb7977; font-weight:bold; '>System</span><span style='color:#808030; '>.</span>out<span style='color:#808030; '>.</span>println<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"Awesome!"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
      <span style='color:#bb7977; font-weight:bold; '>System</span><span style='color:#808030; '>.</span>out<span style='color:#808030; '>.</span>println<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"The flag is: "</span> <span style='color:#808030; '>+</span> input<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span> <span style='color:#800000; font-weight:bold; '>else</span> <span style='color:#800080; '>{</span>
      <span style='color:#bb7977; font-weight:bold; '>System</span><span style='color:#808030; '>.</span>out<span style='color:#808030; '>.</span>println<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"LOL no"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span>
   <span style='color:#800080; '>}</span>
   <span style='color:#800000; font-weight:bold; '>private</span> <span style='color:#800000; font-weight:bold; '>static</span> <span style='color:#bb7977; font-weight:bold; '>String</span> change<span style='color:#808030; '>(</span><span style='color:#bb7977; font-weight:bold; '>String</span> s<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    <span style='color:#bb7977; '>char</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> temp <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> <span style='color:#bb7977; '>char</span><span style='color:#808030; '>[</span><span style='color:#008c00; '>10</span><span style='color:#808030; '>]</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>for</span><span style='color:#808030; '>(</span><span style='color:#bb7977; '>int</span> i <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span> i <span style='color:#808030; '>&lt;</span> s<span style='color:#808030; '>.</span>length<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> i<span style='color:#808030; '>+</span><span style='color:#808030; '>+</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
      temp<span style='color:#808030; '>[</span>i<span style='color:#808030; '>]</span> <span style='color:#808030; '>=</span> <span style='color:#808030; '>(</span><span style='color:#bb7977; '>char</span><span style='color:#808030; '>)</span><span style='color:#808030; '>(</span>s<span style='color:#808030; '>.</span>charAt<span style='color:#808030; '>(</span>i<span style='color:#808030; '>)</span> <span style='color:#808030; '>+</span> <span style='color:#008c00; '>3</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span>
    <span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#800000; font-weight:bold; '>new</span> <span style='color:#bb7977; font-weight:bold; '>String</span><span style='color:#808030; '>(</span>temp<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
  <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
				</div>
				<div class="col-12 col-sm-4">
					<h2 class="font-thin">Recon</h2>
					<img alt="recon image" src="images/sample-recon.jpg"></img>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /slide5 -->

	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Contact Us</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-12 col-sm-4 with-hover-text">
					<p><a target="_blank" href="https://www.facebook.com/highschoolctf"><i class="icon icon-facebook"></i></a></p>
					<span class="hover-text font-light ">facebook/hsctf</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-4 with-hover-text">
					<p><a target="_blank" href="mailto:jacob@hsctf.com"><i class="icon icon-envelope"></i></a></p>
					<span class="hover-text font-light ">jacob@hsctf.com<br/>alok@hsctf.com</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-4 with-hover-text">
					<p><a target="_blank" href="https://twitter.com/hsctf"><i class="icon icon-twitter"></i></a></p>
					<span class="hover-text font-light ">@hsctf</span></a>
				</div><!-- /col12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Slide 6 -->

</body>

	<!-- SCRIPTS -->
	<script src="js/html5shiv.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
	<script src="js/script.js"></script>

	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );

		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});

	});
	</script>

</html>
