<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>High School CTF</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>About HS CTF</h1>
      </div>
      <div class="jumbotron">
        <p>Find the flag for each problem!</p>

        <ol>
        <li>Reverse Engineering</li>
        </ol>

        <pre><code class="java">import java.util.Scanner;

        public class SuperSecure {
            public static void main(String[] args) {
                Scanner in = new Scanner(System.in);
                String input = in.next();

                if(input.length() != 10) {
                    System.out.println("LOL no");
                    System.exit(0);
                }

                String changed = change(input);
                if(changed.equals("fvbl}bf334")) {
                    System.out.println("Awesome!");
                    System.out.println("The flag is: " + input);
                } else {
                    System.out.println("LOL no");
                }
             }

             private static String change(String s) {
                char[] temp = new char[10];
                for(int i = 0; i &lt; s.length(); i++) {
                    temp[i] = (char)(s.charAt(i) + 3);
                }
                return new String(temp);
            }
        }
        </code></pre>

        <ol>
        <li><p>Crypto
        65 63 7a 76 6a 63 62 75 20 63 7a 20 71 6a 67 69 6d 77 7a 76 20 6c 6a 6d 20 65 63 70 74 2e 20 71 71 63 20 76 66 67 61 71 20 66 71 66 20 6f 20 73 64 67 66 20 72 71 70 2c 20 65 78 66 65 6d 20 76 76 75 68 20 75 71 6c 67 20 6b 6d 68 20 66 71 62 20 67 6f 65 6e 20 6c 71 20 6a 74 73 6d 7a 2e 20 61 20 63 75 20 6b 61 62 67 77 75 61 67 72 20 66 77 73 76 20 67 71 69 20 69 74 6a 67 20 69 64 7a 71 20 69 67 20 75 77 6e 6a 71 20 69 7a 6b 61 20 63 62 70 20 6e 67 77 20 6c 67 67 71 67 6e 67 20 62 6a 73 20 64 74 6f 63 7a 66 2c 20 6b 74 78 75 6a 20 71 75 20 68 74 74 20 73 70 61 79 73 64 20 69 67 20 76 70 67 20 64 64 64 74 6e 6d 6f 2e 20 68 74 74 20 63 67 67 20 6b 67 20 75 72 73 70 6a 74 33 6f 77 72 30 76 33 75 2e</p></li>
        <li><p>Recon</p></li>
        </ol>
      </div>
      <div class="row">
        <a class="btn btn-primary btn-info" id="nav" role="button" href="/"> Main Page » </a>
      </div>
      <div id="footer">
          <p> &copy; West Windsor-Plainsboro HS North CS Club </p>
      </div>
    </div>
  </body>
</html>